@media (max-width: $middle-width) {
	.promo {
		padding-left: 30px;
		padding-right: 30px;
	}
	.advantages {
		padding-left: 20px;
		padding-right: 20px;
	}
	.consultation {
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.catalog {
		padding: 0px 20px 50px 20px;

		&__content {
			justify-content: center;

		}
		&-item {
			margin-right: 20px;
		}
	}
	.reviews {
		padding: 0 20px 40px 20px;
		&__item {
			padding-left: 180px;
		}
	}
}

@media (max-width: $tablet-width) {
	.header {
		flex-direction: column;
		

		&__official {
			margin-top: 20px;

			font-size: 18px;

			span {
				font-size: 24px;
			}
		}
		&__contacts {
			align-items: center;
			margin-top: 80px;

			button {
				margin-top: 10px;
				width: 300px;
				height: 40px;

				font-size: 22px;
			}
		}
		&__phone {
			font-size: 24px;
		}
	}

	.promo {
		min-height: 450px;
		padding: 21px 10px 50px 10px;

		&__wrapper {
			margin-top: 105px;
			align-items: center;
		}
		&__title {
		font-size: 32px;	
		text-align: center;
		}
		&__subtitle {
			margin-top: 10px;
			text-align: center;
		}

		&__icons {
			width: 80%;
			margin-top: 45px;
		}
	}
	.button_main {
		font-size: 18px;
	}

	.advantages {
		padding: 50px 10px 90px 10px;

		&__wrapper {
			margin-top: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			width: auto;

			img {
				margin-bottom: 20px;
			}
			
			p { 
				font-size: 15px;
			}
		}

		&__subtitle {
			font-size: 24px;
		}
	}
	.title_left {
		font-size: 30px;
	}

	.carousel__content {
		width: 530px;
		img {
			width: 100%;
		}
	}
}

@media (max-width: $mobile-width) {
	.header {
		flex-direction: column;

		&__official {
			margin-top: 40px;

			font-size: 18px;

			span {
				font-size: 24px;
			}
		}
		&__contacts {
			align-items: center;
			margin-top: 80px;

			button {
				margin-top: 10px;
				width: 300px;
				height: 40px;

				font-size: 22px;
			}
		}
		&__phone {
			font-size: 24px;
		}
	}

	.promo {
		min-height: 450px;
		padding: 21px 10px 50px 10px;

		&__wrapper {
			margin-top: 105px;
			align-items: center;
		}
		&__title {
		font-size: 32px;	
		text-align: center;
		}
		&__subtitle {
			margin-top: 10px;
			text-align: center;
		}

		&__icons {
			width: 100%;
			margin-top: 45px;
		}
	}
	.button_main {
		font-size: 18px;
	}

	.advantages {
		padding: 50px 10px 90px 10px;

		&__wrapper {
			margin-top: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			width: auto;

			img {
				margin-bottom: 20px;
			}
			
			p { 
				font-size: 15px;
			}
		}

		&__subtitle {
			font-size: 24px;
		}
	}

	.consultation {
		min-height: 500px;

		&__descr {
			text-align: center;
		}

		.feed-form {
			margin: 30px auto;
		}
	}
	.title_left {
		font-size: 20px;
	}
	.carousel {
		padding: 50px 0;
		&__content {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

	.catalog {
		&__tabs {
			margin-top: 38px;
			flex-flow: column	nowrap;
		}

		&__tab {
			transform: none;
			margin-bottom: 5px;
			width: 100%;

			div {
				transform: none;
			}
		}
	}
	.reviews {

		&__item {
			padding-left: 0;
			padding-top: 180px;
			margin-top: 30px;

			&::before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}