@media (max-width: $middle-width) {
	.promo {
		padding-left: 30px;
		padding-right: 30px;
	}
	.advantages {
		padding-left: 20px;
		padding-right: 20px;
	}
	.consultation {
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: $tablet-width) {
	.header {
		flex-direction: column;
		

		&__official {
			margin-top: 20px;

			font-size: 18px;

			span {
				font-size: 24px;
			}
		}
		&__contacts {
			align-items: center;
			margin-top: 80px;

			button {
				margin-top: 10px;
				width: 300px;
				height: 40px;

				font-size: 22px;
			}
		}
		&__phone {
			font-size: 24px;
		}
	}

	.promo {
		min-height: 450px;
		padding: 21px 10px 50px 10px;

		&__wrapper {
			margin-top: 105px;
			align-items: center;
		}
		&__title {
		font-size: 32px;	
		text-align: center;
		}
		&__subtitle {
			margin-top: 10px;
			text-align: center;
		}

		&__icons {
			width: 80%;
			margin-top: 45px;
		}
	}
	.button_main {
		font-size: 18px;
	}

	.advantages {
		padding: 50px 10px 90px 10px;

		&__wrapper {
			margin-top: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			width: auto;

			img {
				margin-bottom: 20px;
			}
			
			p { 
				font-size: 15px;
			}
		}

		&__subtitle {
			font-size: 24px;
		}
	}
	.title_left {
		font-size: 30px;
	}
}

@media (max-width: $mobile-width) {
	.header {
		flex-direction: column;

		&__official {
			margin-top: 40px;

			font-size: 18px;

			span {
				font-size: 24px;
			}
		}
		&__contacts {
			align-items: center;
			margin-top: 80px;

			button {
				margin-top: 10px;
				width: 300px;
				height: 40px;

				font-size: 22px;
			}
		}
		&__phone {
			font-size: 24px;
		}
	}

	.promo {
		min-height: 450px;
		padding: 21px 10px 50px 10px;

		&__wrapper {
			margin-top: 105px;
			align-items: center;
		}
		&__title {
		font-size: 32px;	
		text-align: center;
		}
		&__subtitle {
			margin-top: 10px;
			text-align: center;
		}

		&__icons {
			width: 100%;
			margin-top: 45px;
		}
	}
	.button_main {
		font-size: 18px;
	}

	.advantages {
		padding: 50px 10px 90px 10px;

		&__wrapper {
			margin-top: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			width: auto;

			img {
				margin-bottom: 20px;
			}
			
			p { 
				font-size: 15px;
			}
		}

		&__subtitle {
			font-size: 24px;
		}
	}

	.consultation {
		min-height: 500px;

		&__descr {
			text-align: center;
		}

		.feed-form {
			margin: 30px auto;
		}
	}
	.title_left {
		font-size: 20px;
	}
}