.advantages {
	min-height: 472px;
	padding: 70px 0 80px 0;
	background-color: #f6f6f6;

	&__wrapper {
		margin-top: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		width: 280px;
		text-align: center;

		img {
			margin-bottom: 45px;
		}

		p {
			margin-top: 20px;
			font-size: 14px; 
		}
	}
	&__subtitle {
		text-align: center;
	}

	&__icon {
		&_animated {
			animation: heartbeat 2s ease-in-out infinite;
			&:hover {
				animation: heartbeat 1s ease-in-out infinite;
			}
		}
	}
}